{% extends 'my_blog_app/base.html'%}

{% block main-content %}
  <div class="container">
    <div class="row">
      <div class="col-6">
        {% for post in posts %}
        <a class="nav-link active" aria-current="page" href="{% url 'postpage' %}">
        <div class="bg-light mt-2 mb-2">
          <h1>{{post.title}}</h1>
          <h3>{{post.owner.username}}</h3>
          <p>{{post.date_created}}</p>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock main-content %}
