{% extends 'my_blog_app/base.html'%}
{%load crispy_forms_tags%}

{% block main-content %}
<div class="container">
  <div>
      <form method="POST">
          {% csrf_token %}
          <div>
              <h3>Sign Up Form</h3>
              {{form|crispy}}
              <button class="btn btn-sm btn-outline-info" type="submit">Sign Up</button>
              <a href="#" class="btn btn-sm btn-outline-secondary">Log In</a>
          </div>
        </form>
  </div>
</div>

{% endblock main-content %}
